

<h1>Welcome</h1>
<% if notice %>
<%= notice%>
<% end %>
It's <%= Time.now %>
We have <%= pluralize(@total_orders, "order") %>.
<% if user_signed_in? %>
          
          <div id="role_assign">
          <div id="userslist">
          <select id="user_list">
          <option value="" selected="true">Select User</option>
          <%if @users.present? %>
          <% @users.each do |user| %>
          <option value='<%=user%>'><%=user.first_name%>  </option>

          <% end %>
          <% end %>
          </select> 
        
          </div>
          <div id="roleslist">
          <select id="role_list">
          <option value=" " selected="true">Select Role</option>
          <%if @roles.present? %>
          <% @roles.each do |role| %>
          <option value='<%=role%>'><%=role.name%>         </option>

          <% end %>
          <% end %>
          </select> 
          </div>
          </div>
          <%== button_to 'submit' ,admin_path(user_id: @users.first , role_id: @roles.first)  %>
 <% end %>