

<h1>Welcome</h1>
<% if notice %>
<%= notice%>
<% end %>
It's <%= Time.now %>
We have <%= pluralize(@total_orders, "order") %>.
<% if user_signed_in? %>
          
          <%= form_tag("/admin#assign_role", method: "post") do %>
            <%= label_tag(:automplete_1, "User") %>
            <%= text_field_tag(:automplete_1) %>
            <%= hidden_field_tag(:userid) %>
            <%= select_tag(:role_id, options_for_select([['Role',2],['customer', 1], ['admin', 3]])) 
            %>
           
            <%= submit_tag("Submit") %>
            <% end %>
          
 <% end %>


