<div class="field">
  <%= builder.label :title %><br />
  <%= builder.text_field :title %>
</div>
<div class="field">
  <%= builder.label :description %><br />
  <%= builder.text_area :description, rows: 6 %>
</div>
<!-- <div class="field">
  <%= builder.label :image_url %><br />
  <%= builder.text_field :image_url %>
</div> -->
<div class="field">
  <%= builder.file_field :photo %><br />
  
</div>
<div class="field">
  <%= builder.label :price %><br />
  <%= builder.text_field :price %>
</div>